<ion-view view-title="Zampieri Imoveis" ng-init="converteBox()">
  <ion-content class="padding">
    <div class="list">
     <div class="item item-divider"><h2>R$ {{pagamentoEspecifico.valor_pagamento}}</h2></div>
     <div class="list list-inset">
      <p class="item">{{setDate(pagamentoEspecifico.data_pedido) | date: 'dd/MM/yyyy HH:mm'}}</p>

      <p class="item">Nome banco: {{pagamentoEspecifico.nome_banco}}</p>
      <p class="item">Agência: {{pagamentoEspecifico.numero_agencia}}</p>
      <p class="item">Número da conta: {{pagamentoEspecifico.numero_conta}}</p>
      <p class="item">CPF: {{pagamentoEspecifico.cpf}}</p>
     </div>
    </div>
		<ion-checkbox ng-model="pago"> PAGO</ion-checkbox>	
		<label class="item">
          <button class="button button-block button-positive" ng-click="savePagamento(pagamentoEspecifico, pago)">Salvar</button>
        </label>
	
  </ion-content>
</ion-view>
