<ion-view view-title="Zampieri Imoveis" ng-init="getPagamentosByType(1)">
  <ion-content class="padding">

  <h2>Pagamentos</h2>
  <button class="button button-block button-positive button-flat icon-left ion-minus-circled" style="width:49%" ng-click="getPagamentosByType(1)">Não Pagos</button>
  <button class="button button-block button-positive button-flat icon-left ion-checkmark-circled" style="width:50%" ng-click="getPagamentosByType(2)">Pagos</button>

  <ion-list class="list card stable-bg">
   <ion-item ng-show="msgNoPagamentos">
    Você não possui pagamentos a serem listados.
   </ion-item>
		<ion-item class="item-icon-left" ng-repeat="pagamento in pagamentos" ng-click="passPagamentoEspecifico(pagamento)">
			
		    <i class="icon {{setIcon(pagamento.status)}}"></i>
        <h2>R$ {{pagamento.valor_pagamento}}</h2>
        <p>{{setDate(pagamento.data_pedido) | date: 'dd/MM/yyyy HH:mm'}}</p>
			
		</ion-item>
   </ion-list>
    	
  </ion-content>
</ion-view>
