
<ion-view view-title="<div class='h1 title'>Nova senha</div>" class="backLogin">
   <ion-content style="margin-top:100px">
    <h1 class="text-center">Alterar Senha</h1>
    <form ng-submit="newPassword()">
      <div class="list list-inset noBg">
        <label class="item item-input item-floating-label">
          <span class="input-label">Senha antiga:</span>
          <input type="password" placeholder="Senha antiga" ng-model="passwordData.senha_old">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nova senha:</span>
          <input type="password" placeholder="Nova senha" ng-model="passwordData.senha_new">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Confirmar senha:</span>
          <input type="password" placeholder="Confirmar senha" ng-model="passwordData.senha_new2">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Enviar</button>
        </label>
      </div>
    </form>

  </ion-content>
</ion-view>
