<ion-view view-title="Zampieri Imoveis" ng-init="initTab()">
  <ion-content class="padding">
  <div class="row responsive-sm">
    <div class="card col calm-bg">
      <div class="item item-icon-left">
        <i class="icon ion-archive light"></i>
        <h2 class="text-light">{{data[0]+data[1]+data[2]}}</h2> 
        <p class="text-light">Indicações Recebidas</p>
      </div>
    </div>
    <div class="card col left-item energized-bg">
      <div class="item item-icon-left">
        <i class="icon ion-minus-round light"></i>
        <h2 class="text-light">{{data[1]}}</h2> 
        <p class="text-light">Indicações Em aberto</p>
      </div>
    </div>
   <div class="card col mid-item balanced-bg">
      <div class="item item-icon-left">
        <i class="icon ion-checkmark-round light"></i>
        <h2 class="text-light">{{data[0]}}</h2> 
        <p class="text-light">Indicações Concluídas</p>
      </div>
    </div>
    <div class="card col assertive-bg">
      <div class="item item-icon-left">
        <i class="icon ion-close-round light"></i>
        <h2 class="text-light">{{data[2]}}</h2> 
        <p class="text-light">Indicações Canceladas</p>
      </div>
    </div>
  </div>
  <div class="row responsive-sm">
    <div class="card col">
      <div class="item item divider item-stable item-icon-left">
        <i class="icon ion-pie-graph"></i>
        <h2>Gráfico de Sucesso</h2>
      </div>
      <canvas id="doughnut" class="padding chart chart-doughnut"
        chart-data="data" chart-labels="labels">
      </canvas> 
    </div>
    <div class="card col left-item">
      <div class="item item divider item-stable item-icon-left">
        <i class="icon ion-speakerphone"></i>
        <h2>Indicações</h2>
      </div>
      <div class="item item divider item-stable item-input-inset">
         <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Pesquisar" ng-model="buscaIndicacao">
        </label>
      </div>
      <div class="padding">
        <div class="item item-icon-left item-stable margin-bottom" ng-repeat="indic in dataIndicacoes | filter: buscaIndicacao">
          <i class="icon {{retornaIcon(indic.tipo_indicacao)}}"></i>
          <h2>{{indic.nome_indicado}} ({{setDate(indic.created_at) | date: 'dd/MM/yyyy HH:mm'}})</h2>
          <p>Status: {{retornaStatus(indic.status)}}</p>
          
       </div>
       
      </div>
    </div>
  </div>
  <div class="row responsive-sm">
    <div class="card col">
      <div class="item item divider item-stable item-icon-left">
        <i class="icon ion-paper-airplane"></i>
        <h2>Mensagem Atual ao Logar: {{msg}}</h2>
      </div>
      
      <form ng-submit="validate(0)">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Nova Mensagem</span>
            <textarea placeholder="Nova Mensagem" style="height: 150px;" ng-model="msgData.msgnovidade"></textarea>
          </label>
          
          <label class="item">
            <button class="button button-block button-positive" type="submit">Salvar</button>
          </label>
        </div>
      </form>
    </div>
  </div>

  </ion-content>
</ion-view>
