<ion-view view-title="Zampieri Imoveis" ng-init="getIndicacoesByType(1)">
  <ion-content class="padding">

  <h2>Indicações Imoveis</h2>
  <div class="row responsive-sm">
  <button class="button button-energized button-flat icon-left ion-minus-circled col"  ng-click="getIndicacoesByType(1)"><pre>Em aberto</pre></button>
  <button class="button button-balanced button-flat icon-left ion-checkmark-circled col mid-item"  ng-click="getIndicacoesByType(2)"><pre>Concluidos</pre></button>
  <button class="button button-assertive button-flat icon-left ion-close-circled col"  ng-click="getIndicacoesByType(3)"><pre>Cancelados</pre></button>
  </div>
  <ion-list class="list card stable-bg">
   <ion-item ng-show="msgNoIndicacoes">
    Você não possui indicações a serem listados.
   </ion-item>
		<ion-item class="item item-icon-left " ng-repeat="indicacao in indicacoes" ng-click="passIndicacaoEspecifica(indicacao)">
			
		    <i class="icon {{setIcon(indicacao.status)}}"></i>
        <h2>{{indicacao.nome_indicado}}</h2>
        <p>{{setDate(indicacao.created_at) | date: 'dd/MM/yyyy HH:mm'}}</p>
			
		</ion-item>
   </ion-list>
    	
  </ion-content>
</ion-view>
