<ion-view view-title="Zampieri Imoveis" ng-init="changeCreditar()">
  <ion-content class="padding">
  <div class='list'>
  
        <div class="item item-divider"><h2>{{indicacaoEspecifica.nome_indicado}}</h2></div>
        <div class="list list-inset">
        <p class="item">{{indicacaoEspecifica.fone_1}}</p>

        <p class="item">{{indicacaoEspecifica.fone_2}}</p>
        <p class="item">{{indicacaoEspecifica.email_indicado}}</p>
        </div>
       
        <h2 class="item item-divider">Imovel:</h2>
        <div class="list list-inset">
        <p class="item">{{indicacaoEspecifica.endereco}}</p>

        <p class="item">{{indicacaoEspecifica.cep}}</p>

        <p class="item">{{indicacaoEspecifica.bairro}}</p>

        <p class="item">{{indicacaoEspecifica.numero}}</p>

        <p class="item">{{indicacaoEspecifica.complemento}}</p>

        <p class="item">{{indicacaoEspecifica.observacoes}}</p>
        </div>
        
        <ion-checkbox ng-model="indicacaoEspecifica.creditar" ng-disabled="creditar">Creditar R$ 20,00</ion-checkbox>  
        <h2 class="item item-divider">Status da Indicação:</h2>
        <ion-list>
 			    <ion-radio ng-model="indicacaoEspecifica.status" ng-value="1">Em aberto</ion-radio>
    			<ion-radio ng-model="indicacaoEspecifica.status" ng-value="2">Concluido</ion-radio>
    			<ion-radio ng-model="indicacaoEspecifica.status" ng-value="3">Cancelado</ion-radio>
    		</ion-list>
		    <label class="item">
          <button class="button button-block button-positive" ng-click="saveIndicacao(indicacaoEspecifica)">Salvar</button>
        </label>

	</div>
  </ion-content>
</ion-view>
