<ion-side-menus enable-menu-with-back-views="false" ng-init="getNumberIndicacoes()">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-header bar-royal">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <!--
      <ion-nav-buttons side="right">
        <button class="button button-balanced button-fab"><i class="icon ion-android-person"></i></button>
      </ion-nav-buttons>
      -->
    </ion-nav-bar>    
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
      <ion-item class="item item icon-left" menu-close href="#/admin/dashboard">
          <i class="icon ion-clock"></i>
          Dashboard
        </ion-item>
        <ion-item class="item item icon-left" menu-close href="#/admin/pagamentos">
          <i class="icon ion-social-usd"></i>
          Pagamentos
          <span class="badge badge-assertive">{{pagamentos}}</span>
        </ion-item>
        <ion-item class="item item icon-left" menu-close href="#/admin/indicacoesinquilinos">
          <i class="icon ion-person-stalker"></i>
          Indicações Inquilinos
          <span class="badge badge-assertive">{{inquilinos}}</span>
        </ion-item>
        <ion-item class="item item icon-left" menu-close href="#/admin/indicacoesimoveis">
          <i class="icon ion-ios-home"></i>
          Indicações Imoveis
          <span class="badge badge-assertive">{{imoveis}}</span>
        </ion-item>
        <ion-item ng-hide="true" class="item item icon-left" menu-close href="#/admin/graficos">
          <i class="icon ion-stats-bars"></i>
          Graficos
        </ion-item>
        <ion-item class="item item icon-left" menu-close href="#/admin/meusdados">
          <i class="icon ion-unlocked"></i>
          Alterar Senha
        </ion-item>
        <ion-item class="item item icon-left" menu-close href="#/admin/suportechat">
          <i class="icon ion-chatbubbles"></i>
          Suporte Chat
        </ion-item>
        <ion-item class="item item icon-left" menu-close ng-click="logout()" href="#/admin/login">
          <i class="icon ion-power"></i>
          Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
