<ion-view view-title="Zampieri Imoveis" ng-init="converteBox()">
  <ion-content class="padding">
    <h2 class="item item-divider">{{indicacaoEspecifica.nome_indicado}}</h2>
    <div class="list list-inset">
        
        <p class="item">{{indicacaoEspecifica.fone_1}}</p>

        <p class="item">{{indicacaoEspecifica.fone_2}}</p>
        <p class="item">{{indicacaoEspecifica.email_indicado}}</p>

        <p class="item">{{indicacaoEspecifica.observacoes}}</p>
    </div>
        <label class="item item-input item-floating-label">
          <span class="input-label">Creditar</span>
          <input type="text" placeholder="Creditar" ng-model="indicacaoEspecifica.creditar" clean="true" mask="R$ 9999">
        </label>
        <label class="item item-input item-floating-label">
          <ion-list>
   			    <ion-radio ng-model="indicacaoEspecifica.status" ng-value="1">Em aberto</ion-radio>
    			  <ion-radio ng-model="indicacaoEspecifica.status" ng-value="2">Concluido</ion-radio>
            <ion-radio ng-model="indicacaoEspecifica.status" ng-value="3">Cancelado</ion-radio>
  	 	    </ion-list>
        </label>
        	    
  
        <label class="item">
          <button class="button button-block button-positive" ng-click="saveIndicacao(indicacaoEspecifica)">Salvar</button>
        </label>

	
  </ion-content>
</ion-view>
