<ion-view view-title="Zampieri Imoveis" ng-init="getMsgByType()">
  <ion-content class="padding">

  <h2>Suporte</h2>
  <ion-list class="card stable-bg">
   <ion-item ng-show="msgNoTickets">
    Você não possui mensagens a serem listados.
   </ion-item>
		<ion-item class="item-remove-animate item-icon-left" ng-repeat="ticket in tickets" ng-click="passToTicketEspecifico(ticket)">
			
		    <i class="icon ion-chatbubble-working"></i>
        <h2>{{ticket.nome_completo}} - Usuário Id: {{ticket.enviador_id}}</h2>
        <p>{{setDate(ticket.created_at) | date:'dd/MM/yyyy HH:mm'}}</p>
			
		</ion-item>
   </ion-list>
    	
  </ion-content>
</ion-view>
