<ion-view view-title="Zampieri Imoveis" ng-init="getMsgsBySender()">
  <ion-content class="height" scroll-glue="!empty" scroll="false"> 
    <div class="padding">
      <h2>Chat</h2>
      <div ng-repeat="msg in chat | orderBy: 'created_at'" class="block">
      <p class="card padding" ng-class="changeName(msg.tipo_user)">{{changeName(msg.tipo_user)}}: {{msg.msg}}</p>
      </div>
    </div> 	
  </ion-content>
  <form ng-submit="sendNewMsg()">
  <label class="item item-input item-input-inset bottom">
   <input ng-model="msgData.msg" placeholder="Mensagem" class="rd-border padding">
    <button class="button button-fab button-balanced ion-android-send" type="submit"></button>
  </label>
  </form>
</ion-view>
