<ion-modal-view>
<ion-content style="margin-top:50px">
<form ng-submit="doLogin()">
  <div class="list">
    <div class="item item-image" style="width: 350px; margin: auto;">    
      <img src="img/logo-principal.png">    
    </div>
    <label class="item item-input item-floating-label">
      <span class="input-label">E-mail</span>
      <input type="text" placeholder="E-mail" ng-model="loginData.email">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Senha</span>
      <input type="password" placeholder="Senha" ng-model="loginData.senha">
    </label>
    <label class="item">
      <button class="button button-block button-positive" type="submit">Entrar</button>
    </label>
  </div>
</form>
</ion-content>
</ion-modal-view>
