/* Empty. Add your own CSS if you like */
.item{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: wrap ;
}
.border{
	border-bottom: 1px solid !important;
}
.border-royal{
	border-color: #005a83 !important;
}
.border-gray{
	border-color: #888888 !important;
}
.radius{
	border-radius: 25px;
	padding: 0px 100px !important;
}
.mgn{
	padding-bottom: 0 !important;
}
.item{
	border: none;
}
.textCenter{
	text-align: center;
}
.text-light{
	color: #fff !important;
}
.text-royal{
	color: #005a83 !important;
}
.text-calm{
	color: #009be0 !important;
}
.place-color::-webkit-input-placeholder {
   color: #fff;
}
.noBg{
	background: none !important;
	border-left: none !important;
}
.rd-border{
	border: 1px solid #cecece;
	border-radius:  20px;
}
.bottom{
	position: absolute !important;
	bottom: 50px; 
}
.height{
	height: 70% !important;
	overflow-y: scroll;
}
.no-resize{
	resize: none;
}
.Suporte{
	text-align: right;
	background-color: #886aea;
	max-width: 70% !important;
	float: right;
	color: #fff;
}
.Cliente{
	max-width: 70% !important;
	float: left;
	text-align: left;
	background-color: #f8f8f8;
}
.block{
	display: block !important;
	width: 100%;
}
.previous-title{
	display: none !important;
}
.margin-center{
	margin: 0 auto !important;
}
.margin-bottom{
	margin-bottom: 10px;
}
.energized-bg{
	background-color: #ffc900 !important;
}

@media(min-width: 567px){
.mid-item{
	margin-right: 10px !important;
	margin-left: 10px !important;
}
.left-item{
	margin-left: 10px !important;
}
.right-item{
	margin-right: 10px !important;
}
}